TravellerDisplayerComponent {
    width: 400px;
    height: 400px;
}

#PictureAndStats {
    flex-shrink: 0;
    align-items: center;
}

Label {
    white-space: normal;
}

#StatInformationBox {
    flex-direction: row;
    flex-grow: 1;
}
